<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Calc.Properties.Settings>
            <setting name="Memorys" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboItem" serializeAs="String">
                <value />
            </setting>
            <setting name="BackClr" serializeAs="String">
                <value />
            </setting>
            <setting name="FillClr" serializeAs="String">
                <value />
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftPanelClr" serializeAs="String">
                <value />
            </setting>
            <setting name="LCDcolor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="LCDcomboitem" serializeAs="String">
                <value />
            </setting>
            <setting name="fontsizeMem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fontnames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainFontsize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrollbarVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalcResultsMem" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcboxMem" serializeAs="String">
                <value />
            </setting>
        </Calc.Properties.Settings>
    </userSettings>
</configuration>